TENCENTCLOUD_SECRET_ID=ak-20260518-140f7b8423669c0802ddfb9ae49bd400
TENCENTCLOUD_SECRET_KEY=sk-bVgnfkBKYcP3SoD143InQpnIqbcyoT2T7NRDkSb8EQEyA1hq
TENCENTCLOUD_REGION=ap-guangzhou
TENCENTCLOUD_MODEL=hunyuan-lite
PORT=3000
